/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(img/infinitePotential.png); */
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: #15e9a2;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo > img {
  max-width: 50px;
}

p {
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: bold;
  font-family: "lucida console", Monaco, monospace;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="file"],
textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="file"] {
  background-color: #1c1c1c;
  color: #fff;
}

textarea {
  background-color: #1c1c1c;
  color: #fff;
  resize: none;
}

button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1c1c1c;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo h2 {
  font-size: 1.5rem;
}

.nav-links a {
  margin-right: 1rem;
  font-size: 1.1rem;
}

/* Main Content Styles */
.main-content {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 5rem 1rem;
}
.mission-vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}
.main-content h1 {
  font-size: 3rem;
}

.like-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.subscribe-button,
.like-button {
  background-color: #fff;
  color: #000;
  margin-right: 1rem;
}

.subscribe-button:hover,
.like-button:hover {
  background-color: #000;
  color: #fff;
}

/* Causes Styles */
.causes-wrapper {
  flex-grow: 1;
}
.causes {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.search input[type="text"] {
  width: 80%;
  margin-right: 1rem;
}

.create-cause {
  background-color: #1c1c1c;
  color: #fff;
  padding: 2rem;
  margin-top: 2rem;
}

.create-cause h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-control label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.form-control input[type="text"],
.form-control input[type="file"],
.form-control textarea {
  width: 100%;
}

.create-cause-button {
  background-color: #000;
  color: #fff;
}

/* Hide causes section initially */
.hide {
  display: none;
}

/* Causes List Styles */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

li {
  width: calc(33.33% - 2rem);
  background-color: #1c1c1c;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

li:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

li h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

li p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.like-count {
  font-size: 1rem;
  margin-top: 1rem;
}

/* Footer Styles */
footer {
  text-align: center;
  background-color: #1c1c1c;
  padding: 1rem;
  margin-top: 2rem;
}

footer p {
  font-size: 1.1rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .logo {
    text-align: center;
    margin-right: auto;
  }

  .nav-links a {
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  .search input[type="text"] {
    width: 70%;
  }

  li {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 576px) {
  .search input[type="text"] {
    width: 60%;
  }

  li {
    width: 100%;
  }
}
